.vscode/c_cpp_properties.json
.DS_Store
.vscode/settings.json
proj1/proj1Phase3/LaTex Report/main.aux
proj1/proj1Phase3/LaTex Report/main.bbl
proj1/proj1Phase3/LaTex Report/main.blg
proj1/proj1Phase3/LaTex Report/main.fdb_latexmk
proj1/proj1Phase3/LaTex Report/main.fls
proj1/proj1Phase3/LaTex Report/main.lof
proj1/proj1Phase3/LaTex Report/main.log
proj1/proj1Phase3/LaTex Report/main.lot
proj1/proj1Phase3/LaTex Report/main.out
proj1/proj1Phase3/LaTex Report/main.synctex.gz
proj1/proj1Phase3/LaTex Report/main.toc
